build/
devel/
install/
log/
__pycache__/
*.bag
*.mp4
drone_Referee.v2i.yolov8/
wheel_runs2/
test_results/
test/
frames_clahe2/
frames_raw/
UnLanedet/detect_results/
UnLanedet/detect_results_adnet/
UnLanedet/detect_results_adnet_low_conf/
UnLanedet/detect_results_finetuned/
dataset/drone_lane/
*.pth
UnLanedet/output/
UnLanedet/pretrained/
UnLanedet/.eggs/
UnLanedet/build/
segmentation\ DL\ model/drone_Referee_line_seg.v1i.yolov8/
result*.jpg
*.pkl
dataset/
test_results/
*.onnx
*.engine
segmentation DL model/line_seg/
*.engine
*.onnx
segmentation DL model/line_seg/
